<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Dojo dgrid realtime store websocket demo</title>
		
		<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">

        <script>
			var base = location.href.split("/");
			base.pop();
			base = base.join("/");
		
			 var dojoConfig = {
					async: true,
					isDebug: true,
					packages: [ { name: "custom", location: base + '/static/custom' },
					            { name: "dgrid", location: base + "/static/lib/dgrid" },
					            { name: "xstyle", location: base + "/static/lib/xstyle" },
					            { name: "put-selector", location: base + "/static/lib/put-selector" }]
			};
		</script>
        
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.8/dojo/resources/dojo.css">
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.8/dijit/themes/claro/claro.css" media="screen">
		<script src="//ajax.googleapis.com/ajax/libs/dojo/1.8/dojo/dojo.js"></script>
        
        <link rel="stylesheet" href="/static/styles/style.css">
        <link rel="stylesheet" href="/static/custom/_UserManager/css/UserManager.css">
        
        <script>
            require(["dojo/parser", "dojo/domReady!", "dojo/topic", "custom/SingletonWebsocket", "custom/UserManager"],
            function(parser, domReady, topic, SingletonWebsocket){
                SingletonWebsocket.url = "ws://" + document.location.hostname + ":" + document.location.port + "/ws";
                SingletonWebsocket.connect();
                     
                topic.subscribe("ws/connection/opened", function(){
                    parser.parse();
                });
            });
        </script>
	</head>
	<body class="claro">	    
        <div data-dojo-type="custom/UserManager"></div>
	</body>
</html>

